.header{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #004aad;
    position: sticky;
    top: 0px;
    z-index: 100;
}

.header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    /* margin-top: 18px; */
}

.header__searchIcon{
    padding: 5px;
    height : 24px !important;
    background-color:  #cd9042;

}

.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    justify-content: center;
}

.header__searchInput{
    height: 24px;
    padding: 10px;
    border: none;
    width: 70%;
}

.header__nav{
    display: flex;
    justify-content: space-evenly ;
}



.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px ;
    margin-right: 10px;
    color:white;
}

.header__optionLineOne{
    font-size: 10px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}

.header_optionBasket{
    display: flex;
    color: white;
    align-items: center;
    
}

.header__optionBasketCount{
    margin: 0 10px;
}

.shoppingcart__link{
    color:white;
}

.login__redirect{
    text-decoration: none;
}